@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
  }

  body {
    background-color: #000;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  img {
    border: 0;
    height: auto;
    max-width: 100%;
  }
}
