@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  html {
    font-family: 'Sono', sans-serif;
    scroll-behavior: smooth;
  }

  body {
    background-color: #000;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-[600];
  }

  h1 {
    @apply text-[3.125rem];
  }

  h2 {
    @apply text-[2.5rem];
  }

  h3 {
    @apply text-[1.75rem];
  }

  h4 {
    @apply text-[1.5rem];
  }

  h5 {
    @apply text-[1.25rem];
  }

  h6 {
    @apply text-[1rem];
  }
}
